In [1]:
import pandas as pd
from scipy.io import arff

data, meta = arff.loadarff("dataset.arff")
df = pd.DataFrame(data)

df.head()

   Survived  Pclass  Sex  Age  Fare  Embarked  relatives  Title
0       0.0     3.0  0.0  2.0   0.0       0.0        1.0    1.0
1       1.0     1.0  1.0  5.0   3.0       1.0        1.0    3.0
2       1.0     3.0  1.0  3.0   0.0       0.0        0.0    2.0
3       1.0     1.0  1.0  5.0   3.0       0.0        1.0    3.0
4       0.0     3.0  0.0  5.0   1.0       0.0        0.0    1.0

In [2]:
df.shape

(891, 8)

In [3]:
df.dtypes

Survived     float64
Pclass       float64
Sex          float64
Age          float64
Fare         float64
Embarked     float64
relatives    float64
Title        float64
dtype: object